force-app/main/default/flows/Account_Assign_Contact_Related_Values.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_IDs</name>
        <label>Assign IDs</label>
        <locationX>578</locationX>
        <locationY>816</locationY>
        <assignmentItems>
            <assignToReference>Loop_Controller.ContactId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Contact_Controller.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignment_collecction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_collecction</name>
        <label>Assignment collecction</label>
        <locationX>578</locationX>
        <locationY>924</locationY>
        <assignmentItems>
            <assignToReference>CollectionCase</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Controller</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Contact_Controller</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision</name>
        <label>Decision</label>
        <locationX>710</locationX>
        <locationY>708</locationY>
        <defaultConnector>
            <targetReference>Loop_Contact_Controller</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Electrical</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Controller.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_Contact_Controller.Contact_Engeen__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_IDs</targetReference>
            </connector>
            <label>Electrical</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Account Assign Contact Related Values {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Assign Contact Related Values</label>
    <loops>
        <name>Loop_Contact_Controller</name>
        <label>Loop Contact Controller</label>
        <locationX>490</locationX>
        <locationY>600</locationY>
        <collectionReference>Get_Contact</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Decision</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Controller</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Controller</name>
        <label>Loop Controller</label>
        <locationX>50</locationX>
        <locationY>492</locationY>
        <collectionReference>Get_Case</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loop_Contact_Controller</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>50</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Controller</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>50</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Record</name>
        <label>Update Record</label>
        <locationX>50</locationX>
        <locationY>1284</locationY>
        <inputReference>CollectionCase</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Record_Values</name>
        <label>Update Record Values</label>
        <locationX>314</locationX>
        <locationY>276</locationY>
        <inputAssignments>
            <field>Rating</field>
            <value>
                <stringValue>Hot</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Assign_To_Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Schedule</name>
            <connector>
                <targetReference>Update_Record_Values</targetReference>
            </connector>
            <label>Schedule</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>CreatedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>AssignId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AssignId2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AssignVariable2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AssignVariale</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CollectionCase</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CollectionContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Getcase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
