force-app/main/default/flows/Autolauch_FLow_on_Doctor_with_name.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>New_Decision</name>
        <label>New Decision</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NAme</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Vivek</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Record_update</targetReference>
            </connector>
            <label>New</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Autolauch FLow on Doctor with name {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Autolauch FLow on Doctor with name</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>New_Record_update</name>
        <label>New Record update</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Vivek</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Ammount_Doctor__c</field>
            <value>
                <elementReference>AMount</elementReference>
            </value>
        </inputAssignments>
        <object>Doctor__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>New_Decision</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>AMount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>5000.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Hospital_detail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NAme</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Vivek Kumar Saurabh</stringValue>
        </value>
    </variables>
</Flow>
