force-app/main/default/flows/Daily_High_Priority_Cases.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Count_Cases</name>
        <label>Count Cases</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <assignmentItems>
            <assignToReference>caseCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_High_Priority_Cases</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Archived_Metric</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Daily High Priority Cases {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Daily High Priority Cases</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Archived_Metric</name>
        <label>Create Archived Metric</label>
        <locationX>176</locationX>
        <locationY>468</locationY>
        <inputAssignments>
            <field>Value__c</field>
            <value>
                <elementReference>caseCount</elementReference>
            </value>
        </inputAssignments>
        <object>Archived_Metric__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_High_Priority_Cases</name>
        <label>Get High Priority Cases</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Cases</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Priority</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_High_Priority_Cases</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-08-24</startDate>
            <startTime>17:35:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>caseCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
