force-app/main/default/flows/New_Home_Record_Create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <name>newchoice</name>
        <choiceText>{!Home_name_k.selectedChoiceValues}</choiceText>
        <dataType>String</dataType>
    </choices>
    <environments>Default</environments>
    <interviewLabel>New Home Record Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Home Record Create</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>New_Home_Creater</name>
        <label>New Home Creater</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <inputAssignments>
            <field>External_Id_Home__c</field>
            <value>
                <elementReference>External_Id</elementReference>
            </value>
        </inputAssignments>
        <object>Home__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>New_Home</name>
        <label>New Home</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>New_Home_Creater</targetReference>
        </connector>
        <fields>
            <name>Home_Number</name>
            <dataType>Number</dataType>
            <fieldText>Home Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>External_Id</name>
            <dataType>String</dataType>
            <fieldText>External Id</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Home_name_k</name>
            <choiceReferences>newchoice</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Home name</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>New_Home</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
</Flow>
