force-app/main/default/flows/Recharge_on_Doctor.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_1_day_Before</name>
        <label>Email 1 day Before</label>
        <locationX>578</locationX>
        <locationY>276</locationY>
        <actionName>Doctors__c.Email_1_day_before</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Doctors__c.Email_1_day_before</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Email_2_day_before</name>
        <label>Email 2 day before</label>
        <locationX>314</locationX>
        <locationY>276</locationY>
        <actionName>Doctors__c.Email_2_before</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Doctors__c.Email_2_before</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Email_Same_Day</name>
        <label>Email Same Day</label>
        <locationX>50</locationX>
        <locationY>276</locationY>
        <actionName>Doctors__c.Email_Same_Day</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Doctors__c.Email_Same_Day</nameSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <formulas>
        <name>Samedate</name>
        <dataType>Date</dataType>
        <expression>TODAY()+28</expression>
    </formulas>
    <interviewLabel>Recharge on Doctor {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Recharge on Doctor</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Rechage_Status__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Doctors__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Schedule_Same_days</name>
            <connector>
                <targetReference>Email_Same_Day</targetReference>
            </connector>
            <label>Schedule Same days</label>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Expire_Date_Recharge__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Schedule_2days_before</name>
            <connector>
                <targetReference>Email_2_day_before</targetReference>
            </connector>
            <label>Schedule 2days before</label>
            <offsetNumber>-2</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Expire_Date_Recharge__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Schedule_1_days_before</name>
            <connector>
                <targetReference>Email_1_day_Before</targetReference>
            </connector>
            <label>Schedule 1 days before</label>
            <offsetNumber>-1</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Expire_Date_Recharge__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
