force-app/main/default/flows/Set_Case_Priority.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_Case_Details</name>
        <label>Check Case Details</label>
        <locationX>446</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Set_Priority_to_Sev3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Severity 3 (Default)</defaultConnectorLabel>
        <rules>
            <name>Severity_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Downtime</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Priority_to_Sev0</targetReference>
            </connector>
            <label>Severity 0</label>
        </rules>
        <rules>
            <name>Severity_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Usablity</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact.Description</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>VIP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Priority_to_Sev1</targetReference>
            </connector>
            <label>Severity 1</label>
        </rules>
        <rules>
            <name>Severity_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Usability</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Priority_to_Sev2</targetReference>
            </connector>
            <label>Severity 2</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Set Case Priority {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Set Case Priority</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Set_Priority_to_Sev0</name>
        <label>Set Priority to Sev0</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Severity_0</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Priority_to_Sev1</name>
        <label>Set Priority to Sev1</label>
        <locationX>314</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Severity_1</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Priority_to_Sev2</name>
        <label>Set Priority to Sev2</label>
        <locationX>578</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Severity_2</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Priority_to_Sev3</name>
        <label>Set Priority to Sev3</label>
        <locationX>842</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Severity_2</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Case_Details</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
